language: ruby
rvm:
- 2.2
script: bundle exec middleman build
deploy:
- provider: s3
  access_key_id: AKIAJ2EWLPGJVQBIKAHA
  secret_access_key:
    secure: aO+Lr6VdBn6tK6Uo/KF2aDUPoNJH4azdjaPPTHqRfjH725pnKBTzJM1elilds0XOCsW1FcdGY87kAbskqED6vtsNKzJa9c8XM706+S59KXYR+PBWjmeyVt65s/QeXWWrFY0KIKtb4YPv6SFsmOa8sBFqTT64Wyg0vB7jsvQd/hI=
  bucket: beta.csbookclub.com
  local-dir: build
  skip_cleanup: true
  on:
    all_branches: true
- provider: s3
  access_key_id: AKIAJ2EWLPGJVQBIKAHA
  secret_access_key:
    secure: aO+Lr6VdBn6tK6Uo/KF2aDUPoNJH4azdjaPPTHqRfjH725pnKBTzJM1elilds0XOCsW1FcdGY87kAbskqED6vtsNKzJa9c8XM706+S59KXYR+PBWjmeyVt65s/QeXWWrFY0KIKtb4YPv6SFsmOa8sBFqTT64Wyg0vB7jsvQd/hI=
  bucket: www.csbookclub.com
  local-dir: build
  skip_cleanup: true
  on:
    branch: master
